/* css */
*{
    padding: 0px;
    margin: 0.1px;
    border: 0px;
    outline: 0px;
    list-style-type: none;
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
    
}
body{
    /* --boja1: rgb(20,8,42);
    --boja2: rgb(252,245,219);
    --boja3: rgb(197,161,176);


    --gradient1: rgb(212,149,143);

    --gradient2: rgb(189,156,173); */

    --boja1: #534859;
    --boja2: #FBF0E8;

    --boja3: #FBD0D0;
    --boja4: #F9688D;
    
    background-color: var(--boja3);
    
    overflow-x: hidden;
    opacity: 1;
}
.pNesto{
    /* width: 100px; */
    background-color: black;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 1000000;
    color: white;
    padding: 10px;
}
.nesto{
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 100000;
    outline: 3px solid black;
    padding: 5px;
}

.header{
    position: fixed;
    background-color: var(--boja1);
    height: 6%;
    width: 100%;
    z-index: 99;
}
.hh2{
    margin-left: -3%;
}
.hh{
    /* transition-duration: 1ms; */
    margin-top: 1.7%;
    text-align: center;
    width: 17%;
    /* font-size: 0.8vw; */

    margin-right: 1%;
    /* background-color: black; */
}
.hh a{
    padding: 9%;
    padding-bottom: 1.35em;
    padding-top: 1em;
    /* height: 150%; */

    /* background-color: blue; */
    
}
ul{
    display: flex;
    width: 42%;
    height: 100%;
    position: relative;
    left: 33%;
    
    /* background-color: white;  */
}
ul li{
    margin-left: 5%;
    margin-top: 1.7%;
    /* background-color: red; */
}
ul li a{
    color: var(--boja4);
    /* background-color: blue; */
}
ul li a:hover{
    background-color: var(--boja4);
    color: var(--boja1);
}

.logo{
    position: relative;
    /* background-color: white; */
    margin-top: -25%;
    width: 100%;
    height: 120%;
}
.logo:hover{
    transform: rotateZ(180deg);
}
.deco{
    z-index: 5;
    position: fixed;
    margin-top: -1.4%;
    margin-left: -1.2%;
    width: 15%;
    height: 85%;
    transform: rotateZ(180deg);
    z-index: 100;
}
.deco2{
    z-index: 5;
    position: fixed;
    right: 0%;
    margin-top: -1.4%;
    margin-right: -1.2%;
    width: 15%;
    height: 85%;
    transform: rotateX(180deg);
    z-index:100;
}
.latice{
    position: absolute;
    /* background-color: white; */
    top: -150%;
    left: 30%;
    rotate: 90deg;
    width: 500px;
    height: 1800px;
    transition-duration: 8s;
    display: block;
    z-index: 1100;
}
.latice2{
    position: absolute;
    /* background-color: white; */
    top: -150%;
    left: 30%;
    rotate: 90deg;
    transform: rotateY(180deg);
    transform: rotateX(180deg);
    width: 500px;
    height: 1800px;
    transition-duration: 8s ;
    transition-delay: 0.5s;
    display: block;
    z-index: 100;
}

.pre{
    position: absolute;
    height: 40%;
    width: 20%;
    font-size: 80%;
    outline: 2px solid var(--boja4);
    background-color: var(--boja1);
    padding-left: 5px;
    color: var(--boja4);
    border-radius: 5px;
}
.pre:focus{
    box-shadow: 0px 0px 20px var(--boja4);
}

.preButton{
    color: var(--boja4);
    margin-left: 20%;
    border: 2px solid;
    position: absolute;
    background-color: var(--boja1);
    padding: 0.5%; 
    margin-top: -0.4%;
    transition-duration: 0.2s;
    font-weight: bold;
    border: 2px solid var(--boja4);
    border-radius: 10px;

    width: 7%;
    height: 55%;
    
}
.preButton:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 10px var(--boja4);
}
.preButton:active{
    transform: scale(0.99);
}

@media (max-width: 480px) {
    .sve .d1 {
        height:auto;
    }
    .sve .d1 {
        width:100%;
    }
}


.sve{
    position: absolute;
    width: 70%;
    min-height: 50%;
    display: column;
    columns: 3;
    gap: 1em;
    top: 10%;
    left: 15%;
    padding: 10px;
    /* background-color: white; */
}
.sve > *{
    break-inside: avoid;
}
.sve .d1{
    
    position: relative;
    display: block;
    /* flex: 1;     */
    padding: 10px;
    background-color: var(--boja1);
    border-radius: 10px;
    /* margin: 10px; */
    margin-bottom: 1em;
    height:fit-content;
    align-self: stretch;
    transition-duration: 1s;



    outline: 0px solid var(--boja1);
    

    /* background-color: black; */
}
.sve .d1 p{
    
    padding: 20px;
    text-align: center;
    color: var(--boja4);
    border-radius: 10px;


    /* background-color: var(--boja2); */
}
.pN{
    font-size: 25px;
    font-weight: bold;
    /* â¡â¢â£â£ğ—Ÿğ—ğ—¨ğ—•ğ—œğ—  ğ—§ğ—˜ğ—˜ğ—§ğ—§ğ—˜ğ—˜ğ—˜â¡ */
    white-space: nowrap;
    text-align: center;
    justify-content: center;


    
    color: var(--boja4);
    /* background-color: red; */
    /* text-decoration: underline red;
    text-decoration-thickness: 5px; */
}
.pT{
    margin-top: -30px;
    font-size: 20px;
    /* background-color: black; */
    color: var(--boja4);
    
}

